html {
    height: 100%;
}

body {
    font-family: Consolas, Verdana, Arial;
    padding: 0;
    margin: 0;
    height: 100%;
}

form {
    height: 100%;
}

.code {
    width: 45%;
    overflow: scroll;
    float: left;
    max-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

textarea.code {
    height: 80%;
    width: 50%;
}

.myButton {

    -moz-box-shadow: 0px 1px 0px 0px #ffe0b5;
    -webkit-box-shadow: 0px 1px 0px 0px #ffe0b5;
    box-shadow: 0px 1px 0px 0px #ffe0b5;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb450), color-stop(1, #f89306));
    background:-moz-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-webkit-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-o-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-ms-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:linear-gradient(to bottom, #fbb450 5%, #f89306 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89306',GradientType=0);

    background-color:#fbb450;

    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;

    border:1px solid #c97e1c;

    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:17px;
    font-weight:bold;
    padding:6px 76px;
    text-decoration:none;

    text-shadow:0px 1px 0px #8f7f24;

    margin: 0 auto;
    display: block;
}
.myButton:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f89306), color-stop(1, #fbb450));
    background:-moz-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-webkit-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-o-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-ms-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:linear-gradient(to bottom, #f89306 5%, #fbb450 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89306', endColorstr='#fbb450',GradientType=0);

    background-color:#f89306;
}
.myButton:active {
    position:relative;
    top:1px;
}

table {
    padding: 0;
    margin: 0;
    min-width: 100%;
    display: block;
    float: left;
    border: none;
}

td {
    margin: 0;
}

td:first-child, td:nth-child(3) {
    width: 70px;
    padding-right: 10px;
    text-align: right;
    color: #333;
}

td pre {
    margin: 0;
    width: 100%;
    display: block;
}

td .removed {
    background: #FCD8D9;
    border: 1px solid #9A2328;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

td .same {
    background: #fff;
}

td .added {
    background: #E0FCD0;
    border: 1px solid #1A981F;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

td .untracked {
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.map {
    width: 5%;
    overflow: scroll;
    float: left;
    max-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.map:first-child {
    border-right: 1px solid #eee;
}

.link {
    height: 3px;
}

.link.added {
    background: #e0fcd0;
}

.link.untracked {
    background: #e7e7e7;;
}

.link.removed {
    background: #FCD8D9;
}

.link.modified {
    background: #f8b673;
}

tr.selected {
    background: #000;
}

tr.selected td {
    color: #fff;
}

tr.selected td pre {
    background: #000;
}

tr.selected td .removed {
    color: #FCD8D9;
    background: #000;
    /*border: 1px solid #9A2328;*/
}

tr.selected td .added {
    color: #E0FCD0;
    background: #000;
    /*border: 1px solid #1A981F;*/
}

tr.selected td .untracked {
    color: #f9f9f9;
}