body {
    font-family: Consolas, Verdana, Arial;
    padding: 0;
    margin: 0;
}

table {
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
    border: none;
}

td {
    margin: 0;
}

td:first-child, td:nth-child(3) {
    width: 70px;
    padding-right: 10px;
    text-align: right;
    color: #333;
}

td pre {
    margin: 0;
    width: 100%;
    display: block;
}

.removed {
    background: #FCD8D9;
    border: 1px solid #9A2328;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.same {
    background: #fff;
}

.added {
    background: #E0FCD0;
    border: 1px solid #1A981F;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.untracked {
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}